/* 
Name: Carlo Santos
Project V1 01-22-2021
styles css file is used to format the index and about page's styling and format.
Color pallete via: https: //colorhunt.co/palette/226115
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {

    background-color: #94b5c0;
    color: black;
    font-family: 'Roboto',
        sans-serif;
}

nav {
    background-color: #f6f6f6;
    margin: 0 auto;
    padding: 2em;
    width: 100%;
    /* M3LO9 Demonstrate fixed, */
    position: fixed;
}

nav>ul>li>a:link {
    text-decoration: none;
}

nav>ul>li>a:visited {
    color: #161d6f;
}

nav>ul>li>a:link {
    color: #161d6f;
}

nav>ul {
    list-style: none;
}

nav>ul>li {
    font-size: 1.5em;
    padding-right: 2em;
    display: inline;
    text-shadow: 1px 1px #1687a7;
}

h1 {
    color: #c70039;
}

article {
    color: white;
    font-size: 1em;
}

footer {
    color: white;
    padding: 1.5em;
    /* M4LO4 Demonstrate the use of gradients */
    background: linear-gradient(rgb(53, 11, 64), rgb(173, 108, 128));
}

.image-caption {
    color: white;
}

aside {
    color: white;
}


div#main-title h1 {
    font-size: 4em;
    /* M4LO5 Demonstrate the use of text or box shadowing */
    text-shadow: 4px 4px #111d5e;
}

.sub-header {
    font-size: 1.75em;
    text-align: center;
}

a[href="#home-nav"] {
    text-decoration: none;
}

figcaption>p>em>a:link {
    color: #c7ffd8;
}

figcaption>p>em>a:visited {
    color: #ad6c80;
}

h2:first-of-type {
    color: #c70039;
}

article>p::first-letter {
    font-size: 2em;
}

figure.lead-img {
    width: 100%;
    height: auto;
    margin: auto;
    padding: .75em;
}

figure.lead-img img {
    width: 100%;
    height: auto;
}

figcaption>p {
    margin-top: 0;
}

#about-lead-img {
    /* M3LO11 Demonstrate -prefix- style browser extensions */
    -webkit-transform: rotate(180deg);
    /* M4LO8 Demonstrate the use of transformations for 2D */
    transform: rotate(180deg);
    /* M4LO6 Demonstrate the use of opacity/transparency for images */
    opacity: 0.4;
}

div.numbers {
    display: inline-block;
    text-align: justify;
    vertical-align: top;
}

div#main {
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

div#section-right {
    display: inline-block;
    text-align: justify;
    vertical-align: top;
}

.container {
    width: 90%;
    margin: auto;
    padding-top: 7em;
}

.inner-section {
    height: 100%;
    width: auto;
    background-color: #98ded9;
}

div#main-title {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
}

/* M3LO2 Demonstrate floating elements */
div.column-3 {
    float: left;
    width: 33.33%;
    padding: 1em;
    /* height: 500px; */
}

div.column-2 {
    float: left;
    width: 50%;
    padding: 1em;
    /* height: 500px; */
}

div.column-4 {
    float: left;
    width: 25%;
    padding: 1em;
    /* height: 500px; */
}

div.row {
    padding-bottom: 1em;
}

div.row:after {
    content: "";
    display: table;
    /* M3LO3 Demonstrate a clearing floats */
    clear: both;
}

* {
    box-sizing: border-box;
}

ul#current-numbers {
    list-style: none;
    text-align: left;
    padding: 0%;
    margin-bottom: .5em;
}

ul#current-numbers li {
    color: #111d5e;
    font-size: 1.5em;
    padding: .5em 0 .5em 0;
    border-color: white;
    border-style: none none solid none;
}

.numbers>section>em {
    color: #c70039;
    font-size: 1em;
}

.about p {
    font-size: 1.25em;
    color: white;
    /* M3LO10 Demonstrate */
    overflow: auto;
}

ol#change-list {
    text-align: justify;
    font-size: 1.25em;
    color: white;
}

ol#change-list li {
    margin: 1em;
}

.rounded {
    border-color: white;
    border-style: solid;
    /* M4LO3 Demonstrate the use of rounded corners for borders */
    border-radius: 20px 20px;
    padding: 1em;
}

#overview {
    color: black;
    /* M4LO2 Demonstrate the use of background images */
    background-image: url(23336.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.5; */

}

#overview p {
    background-color: white;
    opacity: 0.8;
    line-height: 1.5;
    padding: .5em;
}

/* M3LO8B Demonstrate relative positioning */
.img-blurb {
    color: #111d5e;
    font-size: 1em;
    background-color: white;
    opacity: 0.9;
    width: 10em;
    position: relative;
    bottom: 200px;
    left: 50px;

}

.contact {
    background-color: chartreuse;
    width: 8em;
    font-size: 1.5em;
    text-align: center;
    margin: .5em;
    float: right;
    /* M3LO9 Demonstrate fixed, */
    position: fixed;
    top: 125px;
    right: 50px;
}

.contact a{
    text-decoration: none;
}